
// Rem
$root-font-size: 100;

// Paths
$image-path: '../img/';

// Size
$wide-desktop-width: 1920px;
$desktop-width: 1440px;
$low-desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 360px;

// Colors
$black-true: #000;
$white-true: #fff;




